@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome is merry christmax</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>dame password</h2><input type="password">
    <h3>el mundo es bonito sin gritos</h3>
    <h3>hola mama</h3>
</div>
